@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
}
header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #1E90FF;
  color: white;
}
main {
    background-color: #ccc;
}
section {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ccc;
}
h1 {
    text-align: center;
}
section {
  padding: 20px;
  background-color: #ccc;
  margin: 1em;
  border: 1px solid #ccc;
}
nav a {
    padding: 20px;
    color: white;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    display: block;
    margin: 0 auto;
}
figure img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 15px auto;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    box-shadow: 5px 5px 10px black;
}
h2 {
    background-color: #ccc;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: normal;
}
.hide {
    display: none;
}
footer {
    text-align: center;
}
/* modal */

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    nav {
        text-align: center;
        display: block;
    }
    nav a {
        display: inline;
    }
    .menu-btn {
        display: none;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}
           